# lem.desktop --> ~/.local/share/applications/lem.desktop
[Desktop Entry]
Name=Lem
GenericName=TextEditor
Comment=A Common Lisp Editor/IDE with high extensibility
StartupWMClass=Lem SDL2
StartupNotify=true
Exec=sh -c "GTK_THEME=Adwaita:dark /home/logoraz/.local/share/common-lisp/custom/lem/lem -i sdl2 %F"
Icon=/home/logoraz/.local/share/common-lisp/custom/lem/scripts/install/lem.svg
Type=Application
Terminal=false
Categories=TextEditor;Utility
Keywords=IDE;TextEditor;
