# lem.desktop --> ~/.local/share/applications/lem.desktop
# Exec=sh -c "GTK_THEME=Adwaita:dark /home/logoraz/.local/bin/lem -i sdl2 %F"
[Desktop Entry]
Name=Lem
GenericName=TextEditor
Comment=A Common Lisp Editor/IDE with high extensibility
StartupWMClass=Lem SDL2
StartupNotify=true
Exec=lem -i sdl2 %F
Icon=/home/logoraz/.config/lem/assets/lem.svg
Type=Application
Terminal=false
Categories=TextEditor;Utility
Keywords=IDE;TextEditor;
