[Desktop Entry]
Name=Lem
GenericName=TextEditor
Comment=A Common Lisp Editor/IDE with high extensibility
StartupNotify=true
Exec=lem %F
Icon=/home/logoraz/Work/lem-config/assets/lem.svg
Terminal=false
Type=Application
Categories=TextEditor;Utility
Keywords=IDE;TextEditor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;application/x-shellscript;text/x-c;text/x-c++;
